extends ../common/layout.pug

block body
  div(id="postList")
    each post in posts
      h1.test #{post.postTitle}
      p #{post.postAuthor}
      p #{post.postContent}
      button.btn.btn-primary.post-edit(postid=post.id) edit
      button.btn.btn-primary.post-delete(postid=post.id) delete
      if single
        div
          h3 Comment
          each comment in post.comments
            h4 #{comment.commentTitle}
            p @#{comment.commentToUser}
            span Time #{comment.commentDate}
            p #{comment.commentContent}
          div
            input.form-control#comment-title(type="text", placeholder="Title")
            input.form-control#comment-content(type="text", placeholder="Content")
            button.btn.btn-primary.comment-add#comment-add(postid=post.id) add comment