extends ../common/layout.pug

block body
  nav.breadcrumb-container(aria-label="breadcrumb")
    ol.breadcrumb
      each breadcrumb in breadcrumbList
        li.breadcrumb-item
          a(href=breadcrumb.link) #{breadcrumb.name}
  #postList
    each post in posts
      .row
        .col
          h2.post-title #{post.postTitle}
        .col
          .btn-group.float-right
            a.btn.btn-secondary.dropdown-toggle#dropdownMenuLink(href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false") View
            .dropdown-menu(aria-labelledby="dropdownMenuLink")
              a.dropdown-item(href="/post/"+post.id) View
              a.dropdown-item.post-edit(postid=post.id) Edit
              a.dropdown-item.post-delete(postid=post.id) Delete
      small written by: #{post.postAuthor} | Time: #{post.postDate}
      p #{post.postContent}
      if single
        .comment
          h4 Comment
          each comment in post.comments
            .row.comment-container
              .col-1
                span.comment-avatar
              .col-11
                .comment-block
                  small @#{comment.commentToUser} commited by: #{comment.commentDate}
                  p #{comment.commentContent}
          div
            .row.comment-container
              .col-1
                span.comment-avatar
              .col-11
                .comment-block
                  input.form-control#comment-title(type="text", placeholder="Title")
                  input.form-control#comment-content(type="text", placeholder="Content")
            .row
              .col
                button.btn.btn-primary.comment-add.float-right#comment-add(postid=post.id) add comment